.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    a {
        font-weight: 900;
        font-size: 1.5rem;
        font-family: 'Montserrat';
        line-height: 2rem;
        color: #e5e5e6;
    }
    span {
        font-style: italic;
        position: relative;
        top: 4px;
        font-family: 'Merriweather';
    }
}
