.post-container {
    h1 {
        line-height: 44px;
        font-weight: 900;
        font-size: 40px;
        margin: 0;
    }
    p {
        font-size: 13px;
        margin: 0;
        margin-top: 0.5rem;
    }
}
